*{
    margin:0px;
    padding:0px;
}
.cs1{
    display: flex;
}
.cs1 ul li a{
    list-style-type: none;
    text-decoration: none;
    margin:0px 100px;
    margin-left:300px;
    padding:50px;
}
.cs1 ul {
    display: flex;
    list-style-type: none;
}
